.App {
  text-align: center;
  font-size: 1.2em;
}
table{
  margin-left: auto;
  margin-right: auto;
}

table th{
  font-size: 1.5em;
  height: 50px;
  padding: 5px 15px;
}

table td{
  padding-right: 20px;
}

table img{
  width: 100px;
}

button {
  margin: 5px;
  padding: 5px 15px;
  border: none;
  background: rgb(0, 146, 151);
  border-radius: 5px;
  color: white;
  font-weight: 900;
}
button:hover {
  margin: 5px;
  padding: 5px 15px;
  border: none;
  background: rgb(0, 95, 98);
  border-radius: 5px;
  color: white;
  font-weight: 900;
}

button.delete {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background: rgb(187, 0, 0);
  border-radius: 5px;
  color: white;
  font-weight: 900;
}
button.delete:hover {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background: rgb(102, 0, 0);
  border-radius: 5px;
  color: white;
  font-weight: 900;
}