.App {
  text-align: center;
  font-size: 1.2em;
}
table{
  margin-left: auto;
  margin-right: auto;
}

table th{
  font-size: 1.5em;
  height: 50px;
}

table td{
  padding-right: 20px;
}

table img{
  width: 100px;
}